.header {
    font-family: 'NeoDunggeunmo';
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
}

.header__date {
    display: inline;
}

.header__bible {
    display: inline;
}

.header__title {
    background-color: #ffd400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 20px;
    padding: 10px;
    border: 3px solid;
    border-radius: 3px;
    border-right: var(--retro__border-inside) #edb23e;
    border-bottom: var(--retro__border-inside) #edb23e;
    font-size: 18px;
    font-weight: 800;
    box-shadow: var(--retro__shadow);
    overflow: hidden; /* 내용이 너비를 넘어갈 경우 처리 */
}

.container a {
    position: relative;
}

.qt {
    background-color: white;
    padding: 15px 0px;
    border: 3px solid;
    border-radius: 3px;
    border-right: var(--retro__border-inside) rgb(180, 180, 180);
    border-bottom: var(--retro__border-inside) rgb(180, 180, 180);
    box-shadow: var(--retro__shadow);
}

.qt-content {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'PFStardust';
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.qt-content__number {
    margin: 5px 5px 5px 10px;
    font-size: 12px;
    font-weight: 400;
    background-color: whitesmoke;

    display: flex;
    min-width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.qt-content__text {
    margin: 5px 0px;
    padding: 0px 10px 0px 5px;
    font-size: 14px;

    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
    text-align: justify; /* 텍스트를 양쪽 정렬합니다. */
    overflow: hidden; /* 내용이 너비를 넘어갈 경우 처리 */
}

.qt-submit__btn {
    background-color: white;
    font-family: 'PFStardust';
    margin: 20px auto 0px; /* 상하 마진 20px, 좌우 마진 자동 조절 */
    padding: 15px;
    border: 3px solid;
    border-radius: 3px;
    border-right: var(--retro__border-inside) rgb(180, 180, 180);
    border-bottom: var(--retro__border-inside) rgb(180, 180, 180);
    font-size: 15px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
    position:fixed;
    cursor: pointer;
    box-shadow: var(--retro__shadow);
}

.qt-submit__btn:hover {
    border: 3px solid black;
    border-radius: 3px;
    border-right: var(--retro__border-inside) #36537b;
    border-bottom: var(--retro__border-inside) #36537b;
    background-color: #456ba0;
    color: white;
    box-shadow: var(--retro__shadow);
}

.qt-submit__btn i {
    margin-left: 5px;
    padding-top: 1px;
}

.qt-sunday {
    padding: 5px;
}

.qt-sunday img {
    width: 100%;
}

.qt-sunday-submit__btn {
    border: 3px solid black;
    border-radius: 3px;
    border-right: 4px solid #36537b;
    border-bottom: 4px solid #36537b;
    background-color: #456ba0;
    color: white;
    box-shadow: var(--retro__shadow);
}

