<!DOCTYPE html>
<html lagn="kr">
<head>
    <script src="https://kit.fontawesome.com/64813dad70.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
    <link
        rel="shortcut icon"
        href="https://file.miricanvas.com/user_image/2024/04/02/23/50/k49j8nk5hh7a6e6i/hongc.jpeg"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="홍씨들아! 큐티하자!">
    <meta property="og:title" content="QT - 주님과 동행하는 일상">
    <meta property="og:description" content="홍씨들아! 큐티하자!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://qtapp-ccc-hongc.koyeb.app/">
    <meta property="og:image" content="https://file.miricanvas.com/raster_image_editor/2023/02/17/02/30/kkvgllnwfw16f2pa/sticker_thumb_800.png">
    <title>QT - 주님과 동행하는 일상</title>
</head>
<body>

<div class="container">
    <header class="header">
        <div class="header-container">
            <h3 class="header__date">{{today}}</h3>
            <h3 class="header__bible">{{subject2}}</h3>
        </div>
        <h1 class="header__title">{{subject1}}</h1>
    </header>
    <div class="qt">
    {% for content in contents %}
        <p class="qt-content"><span class="qt-content__number">{{ content[0] }}</span><span class="qt-content__text">{{ content[1] }}</span></p>
    {% endfor %}
    </div>
    <a class="qt-submit__btn" href="#">▹ 오늘 큐티를 완료하시겠습니까?<i class="fa-solid fa-book-bible"></i></a>
</div>
</body>
</html>
